api/bin
api/lib
api/include
api/share
api/.pytest_cache
api/idris.egg-info
api/idris/__pycache__
api/tests/__pycache__
api/.tox
api/.cache
api/*.pyc
web/node_modules
web/dist
web/.env*
web/package-lock.json
api/idris/views/__pycache__/
api/pip-selfcheck.json
*.tern-port
api/idris/static/dist/web
idris-gae.ini
idris-cloudsql.ini
var
