api/bin
api/lib
api/include
api/share
api/.pytest_cache
api/caleido.egg-info
api/caleido/__pycache__
api/tests/__pycache__
api/.tox
api/.cache
api/*.pyc
web/node_modules
web/dist
web/.env*
web/package-lock.json
